# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js
**/.yarn/

# Build outputs
**/dist/
**/.next/
**/out/
**/.build/
**/.open-next/
**/.sst/

# Environment files
.env*
!.env.example

# Logs
**/*debug.log*
**/*error.log*

# Testing & Coverage
**/coverage/
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

# Cache & Temp
**/.turbo/
**/.vercel/
**/.DS_Store
**/*.pem
**/*.tsbuildinfo

# Framework files
**/next-env.d.ts
**/sst-env.d.ts

# Changesets
.changeset/pre.json

# Claude
.claude